html {
    ::-webkit-scrollbar {
        height: 5px;  
        width: 5px;   
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #3C6E71;  
        border-radius: 10px;        
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #3C6E71;  
    }
    
    ::-webkit-scrollbar-track {
        background: none;  
    }
    
    scrollbar-width: thin;      
    scrollbar-color: #3C6E71 none; 
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    
    background: #FFFFFF;

    .screen {
        width: 100%;
        height: 100vh;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        .textBox {
            width: 100%;
            height: calc(100vh - 200px);

            overflow: auto;

            margin-bottom: 40px;
            margin-top: 30px;
            padding-left: 5%;
            padding-right: 5%;
            box-sizing: border-box;

            padding-top: calc(100vh - 250px);
            box-sizing: border-box;

            .userText {
                font-size: 18px;

                font-weight: 700;

                margin-bottom: 50px;

                color: #4c8689;

                display: flex;

                .displayflex {
                    display: flex;

                    .material-symbols-outlined {
                        width: 18px;
                        height: 18px;
                        font-size: 18px;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .botText {
                margin-top: 10px;
                margin-bottom: 60px;

                font-size: 18px;

                font-weight: 600;

                color: #284B63;

                display: flex;

                .displayflex {
                    display: flex;

                    .material-symbols-outlined {
                        width: 18px;
                        height: 18px;
                        font-size: 18px;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .schadow {
                width: 90%;
                height: 50px;

                position: fixed;

                background: rgb(255,255,255);
                background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
            }
        }
    
        .row {
            width: 90%;
            max-width: 1200px;

            display: flex;
            gap: 20px;

            overflow: auto;
            overflow-y: hidden;
            margin-bottom: 10px;
            padding-bottom: 15px;

            box-sizing: border-box;

            .item {
                height: 50px;

                padding-left: 20px;
                padding-right: 20px;

                display: flex;
                align-items: center; 
                justify-content: center; 
                white-space: nowrap;

                color: #3C6E71;
                font-weight: 700;

                border-radius: 20px;
                border: 2px solid #E8EBF7;;

                cursor: default;

                transition: transform 0.5s ease, border-color 0.5s ease;
            }

            .active {
                border: 2px solid #3C6E71;
            }
        }
    
        .inputBox {
            width: 90%;
            max-width: 1200px;
            height: 50px;
    
            display: flex;
            justify-content: center;
    
            .inputDiv {
                width: 200%;
                height: 50px;
    
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
    
                display: flex;
                justify-content: space-between;
                align-items: center;

                overflow: hidden;


                background-color: #D9D9D9;

                input {
                    width: calc(100% - 60px);
                    height: 44px;

                    padding-left: 20px;
                    box-sizing: border-box;

                    background: none;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    color: #3C6E71;
                    caret-color: #3C6E71;

                    font-weight: 600;

                    touch-action: none;
                    -webkit-user-select: none;

                    user-select: none; 
                    -webkit-touch-callout: none; 
                }

                .sendBtn {
                    width: 60px;
                    height: 50px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .material-symbols-outlined {
                        width: 35px;
                        height: 35px;
    
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        font-size: 20px;
    
                        border-radius: 50%;
    
                        color: #3C6E71;
                        background-color: #FFFFFF;

                        cursor: default;
                    }
                }
            }
        }
    }
}